<body>
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="nombre">
    <app-nombre></app-nombre>
  </div>
  <div class="presentacion">
    <app-presentacion></app-presentacion>
  </div>
  <div class="descripcion">
    <app-descripcion></app-descripcion>
  </div>
  <div class="estudios-cards">
    <app-estudios-cards></app-estudios-cards>
  </div>
  <div class="carrusel">
    <app-carrusel></app-carrusel>
  </div>
  <div class="descripcion-dropdown">
    <app-descripcion-dropdown></app-descripcion-dropdown>
  </div>
  <div class="profile">
    <app-profile></app-profile>
  </div>
  <div class="herramientas">
    <app-herramientas></app-herramientas>
  </div>
  <div class="cursos-y-estudios">
    <app-cursos-y-estudios></app-cursos-y-estudios>
  </div>
</body>
